@import './quasar.variables.sass'
@import '~quasar-styl'

body
  background-color: #eeeeee

.q-field
  border: 1px solid rgba(0, 0, 0, 0.12) !important
  border-radius: 4px !important
  padding: 0 4px !important
.q-field__inner
  padding: 0 8px !important

.q-field--labeled .q-field__native,
.q-field--labeled .q-field__prefix,
.q-field--labeled .q-field__suffix
  padding-bottom: 0

.disabled,
.disabled *,
[disabled],
[disabled] *
  cursor: default !important

.underline-none
  text-decoration: none

.underline-hover
  &:hover
    text-decoration: underline

.break-word
  word-break: break-word

.cursor-default
  cursor: default

.justify-sm-end
  justify-content: flex-end
  body.screen--xs &
    justify-content: flex-start
