@import './quasar.variables.sass'
@import '~quasar-styl'
// @import '~quasar-addon-styl'

body
  background-color: #eeeeee

.q-field--labeled .q-field__native,
.q-field--labeled .q-field__prefix,
.q-field--labeled .q-field__suffix
  padding-bottom: 0

.underline-none
  text-decoration: none

.underline-hover
  &:hover
    text-decoration: underline

.break-word
  word-break: break-word
