$primary   : #073052
$secondary : #FB8C00 // Orange 600
$accent    : #9C27B0 // Purple 500

$dark      : #1D1D1D

$positive  : #4CAF50 // Green 500
$negative  : #EF5350 // Red 400
$info      : #2196F3 // Blue 500
$warning   : #FB8C00 // Orange 600

@import '~quasar-variables-styl'
